.global-nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      &:after {
        content: "—";
        opacity: 0.4;
      }
      &:last-child:after {
        content: "";
      }
      a {
        font-size: 1.2rem;
      }
    }
  }
}
