$body_font: {{ $.Site.Params.body_font | default "sans-serif" }};
$heading_font: {{ $.Site.Params.heading_font | default "sans-serif" }};
$accent_color: {{ $.Site.Params.accent_color | default "#ed64a6" }};
$dark_color: {{ $.Site.Params.dark_color | default "#1a202c" }};
$light_color: {{ $.Site.Params.light_color | default "#f7fafc" }};

@import "normalize";
@import "vars";
@import "mixins";
@import "type";
@import "layout";
@import "header";
@import "nav";
@import "posts";